.imagenProducto{
    height: 50%;
    width: 50%;
}
h2{
    font-size: 50px;
    word-wrap: break-word;
    overflow: hidden;
}
h3{
    font-size: 20px;
}

.contenedorTarjeta{
    
}

.disponible{
    color: green;
    word-wrap: break-word;
    overflow: hidden;
}

.agotado{
    color: red;
    word-wrap: break-word;
    overflow: hidden;
}