#root {
  margin: 0px;
  width: 100%;
  height: 120vh;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  margin: 0;
}

body{
  margin: 0px;
  width: 100%;
  height: 120vh;
  background-color: rgb(33, 37, 41);
}

button:hover{
  cursor: pointer;
}

@media (max-width: 600px) {
  #root {
    margin: 0px;
    width: 100%;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  html{
    margin: 0;
  }

  body{
    margin: 0px;
    width: 100%;
    height: 80vh;
    background-color: rgb(33, 37, 41);
  }

  button:hover{
    cursor: pointer;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  #root {
    margin: 0px;
    width: 100%;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  html{
    margin: 0;
  }

  body{
    margin: 0px;
    width: 100%;
    height: 80vh;
  }

  button:hover{
    cursor: pointer;
  }
}