body{
    background-color: rgb(33, 37, 41);
}

.partePrincipal{
    background-image: url("../../imagenes/fondoPagina.png");
    background-size: cover;
    background-position: center;        
    background-repeat: no-repeat;  
    width: 100%;
    height: 90vh;
    margin: 0px;
}

.overlayAccount{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 29, 29, 0.6);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.parteCuenta{
    width: 50%;
    height: 70vh;
    margin: 0px;
    background-color: rgb(33, 37, 41);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.parteCuenta h1{
    margin-top: 5vh;
    color: white;
}

.parteCuenta h2{
    color: white;
}

.parteCuenta button{
    width: 25vh auto;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 15px;
    background-color: #0366D6;
    color: white;
    font-size: 20px;
    border: none;
}

@media (max-width: 900px) and (pointer: coarse){
    .overlayAccount{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 29, 29, 0.6);
        display: flex;
        justify-content: center;
        align-items: flex-start; 
    }

    .parteCuenta{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: rgb(33, 37, 41);
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
}

@media (orientation: landscape) and (pointer: coarse){


    .parteCuenta h1{
        margin-top: 5vh;
        margin-bottom: 0vh;
        color: white;
    }

    .parteCuenta h2{
        color: white;
        margin: 3vh;
    }

    .parteCuenta button{
        width: 25vh auto;
        height: 8vh;
        margin-top: 0vh;
        margin-bottom: 5vh;
        border-radius: 15px;
        background-color: #0366D6;
        color: white;
        font-size: 20px;
        border: none;
    }
}

