body{
    background-color: rgb(33, 37, 41);
}

.partePrincipal{
    background-image: url("../../imagenes/fondoPagina.png");
    background-size: cover;
    background-position: center;        
    background-repeat: no-repeat;  
    width: 100%;
    height: 90vh;
    margin: 0px;
}

.overlayMainPart{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 29, 29, 0.6);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.overlayMainPartMovil{
    display: none;
}

#botonDescarga{
    width: 30vh;
    height: 10vh;
    border-radius: 20px;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;

    user-select: none;
}

#botonDescarga:hover {
    cursor: pointer;
}

.parteNovedadMainPart{
    display: none;
}

@media (max-width: 900px) and (pointer: coarse){

    #botonDescarga{
        display: none;
    }

    .overlayMainPart{
        display: none;
    }

    .overlayMainPartMovil{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 29, 29, 0.6);
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .parteNovedadMainPart{
        width: 80%;
        height: 85%;
        margin-top: 5%;
        margin-bottom: 20vh;
        background-color: rgb(33, 37, 41);
        display: flex;
        align-items: flex-start;
        text-align: center;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        overflow-y: auto;
    }

    .tituloNovedadMainPart{
        margin-top: 5vh;
        color: white;
    }

    .contenedorNovedadMainPart a{
        display: flex;
        text-align: center;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        border: solid 3.5px #343A40;
        border-bottom: none;
        border-right: none;
        border-left: none;
        padding: 5%;
    }

    .novedadMainPart{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
    }

    .novedadMainPart h4{
        text-align: left;
        margin-bottom: 0;
    }

    .novedadMainPart img{
        width: 100%;
        height: 80%;
    }
}