body{
    background-color: rgb(33, 37, 41);
}

td{
    border: solid black 1px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px auto;
    padding-right: 20px auto;
}

th{
    border: solid black 1px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px auto;
    padding-right: 20px auto;
}

.partePrincipal{
    background-image: url("../../imagenes/fondoPagina.png");
    background-size: cover;
    background-position: center;        
    background-repeat: no-repeat;  
    width: 100%;
    height: 90vh;
    margin: 0px;
}

.overlayScoreBoard{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 29, 29, 0.6);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.parteScore{
    width: 50%;
    height: 85vh;
    margin: 0px;
    background-color: rgb(33, 37, 41);
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow-Y: scroll;
    scrollbar-width: none;
}

.parteScore::-webkit-scrollbar {
    display: none;
}

.parteScore h1{
    margin-top: 5vh;
    color: white;
}

.parteScore table{
    margin-top: 1vh;
    border: solid black 1px;
    background-color: white;
    border-collapse: collapse;
    width: auto;
}

@media (max-width: 900px) and (pointer: coarse){

    .overlayScoreBoard{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 29, 29, 0.6);
        display: flex;
        justify-content: center;
        align-items: flex-start; 
    }

    .parteScore{
        height: 85%;
        width: 85%;
        margin-top: 5%;
        margin-bottom: 20vh;
        background-color: rgb(33, 37, 41);
        display: flex;
        align-items: flex-start;
        text-align: center;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .parteScore::-webkit-scrollbar {
        display: none;
    }

    .parteScore table{
        height: 85%;
        width: 95%;
    }
}